.fuwari-preview {
  --fuwari-radius-large: 1rem;
  --fuwari-hue: 250;
  --fuwari-primary: oklch(0.7 0.14 var(--fuwari-hue));
  --fuwari-primary-hover: oklch(0.65 0.14 var(--fuwari-hue));
  --fuwari-primary-active: oklch(0.6 0.14 var(--fuwari-hue));
  --fuwari-page-bg: oklch(0.95 0.01 var(--fuwari-hue));
  --fuwari-card-bg: white;
  --fuwari-btn-content: oklch(0.55 0.12 var(--fuwari-hue));
  --fuwari-btn-regular-bg: oklch(0.95 0.025 var(--fuwari-hue));
  --fuwari-btn-regular-bg-hover: oklch(0.9 0.05 var(--fuwari-hue));
  --fuwari-btn-regular-bg-active: oklch(0.85 0.08 var(--fuwari-hue));
  --fuwari-btn-plain-bg-hover: oklch(0.95 0.025 var(--fuwari-hue));
  --fuwari-btn-plain-bg-active: oklch(0.98 0.01 var(--fuwari-hue));
  --fuwari-meta-divider: rgba(0, 0, 0, 0.2);
}

.dark .fuwari-preview {
  --fuwari-primary: oklch(0.75 0.14 var(--fuwari-hue));
  --fuwari-primary-hover: oklch(0.8 0.14 var(--fuwari-hue));
  --fuwari-primary-active: oklch(0.85 0.14 var(--fuwari-hue));
  --fuwari-page-bg: oklch(0.16 0.014 var(--fuwari-hue));
  --fuwari-card-bg: oklch(0.23 0.015 var(--fuwari-hue));
  --fuwari-btn-content: oklch(0.75 0.1 var(--fuwari-hue));
  --fuwari-btn-regular-bg: oklch(0.33 0.035 var(--fuwari-hue));
  --fuwari-btn-regular-bg-hover: oklch(0.38 0.04 var(--fuwari-hue));
  --fuwari-btn-regular-bg-active: oklch(0.43 0.045 var(--fuwari-hue));
  --fuwari-btn-plain-bg-hover: oklch(0.3 0.035 var(--fuwari-hue));
  --fuwari-btn-plain-bg-active: oklch(0.27 0.025 var(--fuwari-hue));
  --fuwari-meta-divider: rgba(255, 255, 255, 0.2);
}

.fuwari-preview .fuwari-card-base {
  border-radius: var(--fuwari-radius-large);
  overflow: hidden;
  background-color: var(--fuwari-card-bg);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.fuwari-preview .fuwari-btn-regular {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fuwari-btn-regular-bg);
  color: var(--fuwari-btn-content);
  transition:
    background-color 0.2s,
    color 0.2s,
    transform 0.2s;
}

.fuwari-preview .fuwari-btn-regular:hover {
  background-color: var(--fuwari-btn-regular-bg-hover);
}

.fuwari-preview .fuwari-btn-regular:active {
  background-color: var(--fuwari-btn-regular-bg-active);
}

.dark .fuwari-preview .fuwari-btn-regular {
  color: rgb(255 255 255 / 0.75);
}

.fuwari-preview .fuwari-btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fuwari-primary);
  color: white;
  transition:
    background-color 0.2s,
    color 0.2s,
    opacity 0.2s,
    transform 0.2s;
}

.fuwari-preview .fuwari-btn-primary:hover {
  background-color: var(--fuwari-primary-hover);
}

.fuwari-preview .fuwari-btn-primary:active {
  background-color: var(--fuwari-primary-active);
}

.dark .fuwari-preview .fuwari-btn-primary {
  color: rgb(0 0 0 / 0.75);
}
